.container-detail {
  background-color: $color-secondary;
  margin: 50px 10px;  
}

.detail {  
  h1 {
    width: 80%;
    margin-bottom: 25px;
  }
  p {
    width: 90%;
    color: $grey;
  }
}

.img-detail {
  padding: 5px;
}

.rate {
  span {
    margin-right: 10px;
  }
  img {
    margin-bottom: 3px;
    margin-right: 3px;
  }
}
// .container-ticket {
//   background-color: $black;
//   padding: 20px;
//     button{
//       padding: 5px 15px;
//       margin-left: 10px;
//       margin-right: 10px;
//       border-radius: 5px;
//       border: 1px solid $color-background;
//       color: $white;
//       background-color: $color-primary;
//     }
//     span {   
//       margin-top: 5px;
//       width: 5px;
//       margin-right: 10px;      
//     }
// }

.action {
  margin-top: 35px;
}

.detail-action {
  text-decoration: none;
  color: $grey;
  a {
    text-decoration: none;
    color: $grey;
  }
  a:hover {
    color: $white;
  }
  img {
    margin-left: 10px;
  }  
}