.detail-container {
  
  .card-img-overlay {
    margin-top: 7rem;
  }

  .bg-detail {
    opacity: 0.3;
    background-color: $color-background;
  }

  .dark-overlay {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
  }

  .poster-detail {
    border-radius: 10px;
    box-shadow: 10px 10px 26px 9px rgba(0,0,0,0.75);
  }
  .content-detail-container {
    padding: 3rem 1rem;
  }
}