@import '_form.scss';

.login {
	max-width: 340px;
	margin-top: 50px;
	padding-top: 20px;
	background-color: $color-secondary;
  h3 {
		color: $white;
		margin-bottom: 30px;
  }
}

.login-form-forgot {
	margin-left: auto;
	cursor: pointer;
	margin-top: -20px;
	color: $grey;
}