.movie-container {
  .text-link {
    margin-top: 15px;
    span {
      cursor: pointer;
      transition: 0.3s;
    }
    span:hover {
      color: #a7a7a7;
    }
  }
  .text-link:hover {
    text-decoration: none;
  }
}

.category-container {
  width: 100px;
  background-color: #ebb5af;
  border-radius: 16px;
  border: none;
  margin: 10px 4px;
  text-align: center;
  padding: 7px 10px;
  transition: 0.5s;
  span {
    color: #b63223;
    font-weight: bold;
  }
}

.category-container:hover {
  background-color: #eb9187;
}

.card-category, .card-custom {
  cursor: pointer;
  transition: 0.3s;
}

.card-category:hover, .card-custom:hover {
  box-shadow: 10px 10px 26px 9px rgba(0,0,0,0.75);
}