.navbar-toggler {
    color: $black !important;
    border-color: $black !important;
    background-color: $black !important;
}

.fas {
    color: $grey;
}

.search-navbar {
    color: transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
    .navbar-toggler-icon {
        background-image: none !important;
    }
}

.search-icon {
    height: 100%;    
    border: none !important;
    margin-right: auto;    
    background-color: transparent;
}

.form-control {
    background-color: transparent !important;
    width: 100%;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid $grey;
}

.navbar {
    background-color: $color-secondary !important;    
}

.nav-link {
    color: $grey !important;    
    text-decoration: none;
    color: $grey;
    cursor: pointer;
}

.active {
    color: $white !important;
    cursor: default;
}

.nav-logout {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-link:hover {
    color: #808080 !important;
}

.btn-outline-secondary {
    border-color: transparent;    
    border-radius: 0px;
}

.text-faded {
    width: 10px;
    .nav-link {
        width: 20px;
    }
}