// @font-face {
//   font-family: 'BebasNeue-Regular';
//   font-style: normal;
//   font-weight: normal;
//   src: local('BebasNeue-Regular'), url('../font/bebas_neue/BebasNeue-Regular.woff') format('woff');
// }

$color-primary: #db0000;
$color-secondary: #060709;
$color-action: #B01712;
$disabled-btn: rgb(240, 85, 80);
$color-background: #141414;
$btn-hover: #c52424;
$black: #272626;
$choco: #564d4d;
$grey: #A49FA1;
$white: #fff;

@import '_homepage.scss';
@import '_login.scss';
@import '_detailpage.scss';
@import '_register.scss';
@import '_navigation.scss';
@import './antd/ant-card';
@import './antd/ant-col';
@import './antd/ant-btn';
@import './antd/ant-input';
@import './antd/ant-carousel';
@import './antd/ant-backtop';
@import '_jumbotron.scss';
@import '_detail-movie.scss';
@import 'movie-category';
@import 'footer.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  // font-family: 'BebasNeue-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
  color: $white !important;
}

h1 {
	color: $white;
	font-size: clamp(20px, 4vw, 46px);
}

h4 {
	color: $white;
	font-size: clamp(18px, 4vw, 30px);
}

p, a {
  font-size: clamp(12px, 4vw, 16px);
  color: $white;
}

span {
  font-size: clamp(16px, 3vw, 16px);
  color: $white;
}

.divided {
  margin-top: 70px;
}