.ant-btn {
  width: 100%;
  height: 5%;
  padding: 15px 20px;  
  border-radius: 6px;
  border: none;  
  background-color: $color-primary;
  color: $white;
  font-weight: bold;
}

.ant-btn:hover, .ant-btn:focus {
  background-color: $color-action;
}

.btn-trailer {
  .ant-btn {
    width: auto;
    height: 45px;
    padding: 10px 20px;  
    border-radius: 0;
    border: none;
    background-color: $color-primary;
    color: $white;
    font-weight: bold;
  }
  .ant-btn:hover {
    background-color: $btn-hover;
  }
}

.btn-list {
  .ant-btn {
    padding: 8px 20px;
    background-color: transparent;
    border: 3px solid #eaeaea;
    border-radius: 0;
    width: auto;
    height: 45px;
  }

  .ant-btn:hover {
    border: 3px solid #acaaaa;
  }
}