.ant-input {
  border-radius: 6px;
  width: 100%;
  padding: 20px 25px;
  border: 6px; 
  background-color: $grey;
  color: $white;
}

.ant-input::placeholder {
  color: rgb(223, 223, 223);
}

.ant-checkbox + span {
  color: $white;
}

.form-control {
  color: $white;
}

.form-control:focus {
  color: $white;
}