.ant-carousel .slick-slide {
  text-align: center;  
  line-height: 160px;  
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;  
}

.ant-carousel .slick-dots-bottom {
  bottom: 98px;
}

.slick-dots li button:before {
  color: transparent !important;
}