.ant-back-top {
  bottom: 10px;
  right: 20px;
}

.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: $color-primary;
  color: #fff;
  text-align: center;
  font-size: 20px;
}